@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500&display=swap');

@font-face {
    font-family:"Antiokhia";
    src: url("../../assets/fonts/Antiokhia.otf");
}
body {
    // overflow-x:hidden;
}
.featuresScreen {
    width:100vw;
    height:100vh;
   // background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../assets/main_bg.svg");
    background: url("../../assets/features/Feature_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    // overflow-x:hidden;
    // overflow-y: hidden;
    &__bannerTitleContainer {
        width:100vw;
        padding-top: 20vh;
        &__bannerTitle {
            align-items: left;
            width: fit-content;
            padding:1em 4em;
            h1 {
                z-index: 0;
                font-family: "Antiokhia", cursive;
                font-size:4rem;
                text-align: center;
                color:#4AB3CA;
            }
        }
    }
    &__featuresOpt {
        padding: 0 4em;
    }
    .option {
        width: 420px;
        float:left;
        padding-top: 2.5em;
        padding-inline: 1em;
    }
    .featureTitle {
        padding: 0.5em 0;
        z-index: 0;
        font-family: 'Roboto Slab', serif;
        font-size:1.5rem;
        text-align: left;
        color: #ffffff;
    }
    .featureText {
        z-index: 0;
        font-family: 'Roboto Slab', serif;
        font-size:1rem;
        text-align: justify;
        color: #ffffff;
    }
    .highlightText {
        font-family: "Antiokhia", cursive;
        font-weight: 200;
        color:#4AB3CA;
    }
}