@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500&display=swap');

@font-face {
    font-family:"Antiokhia";
    src: url("../../assets/fonts/Antiokhia.otf");
}
body {
    overflow:hidden;
}
.teaminfoScreen {
    width:100vw;
    height:100vh;
   // background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../../assets/main_bg.svg");
    background: url("../../assets/teams/Team_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    &__header {
        width:100vw;
        &__content {
            margin-inline: auto;
            padding-inline: 1.5em;
            max-width: 82rem;
            display: flex;
            flex-direction: column;
        }
        &__chainContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline:2vw;
            img {
                height: 30px;
            }
        }
        &__main {
            position: relative;
            bottom:6px; //sketchy af :(
            background: #593D35;
            padding:1em 4em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                transform: scale(0.7)
            }
            &__nav {
                display: flex;
                color:white;
                font-family: "Antiokhia", cursive;
                font-size:1.5rem;
                p{
                    margin-left:50px;
                    line-height: 1.1px;
                    letter-spacing: 4px;
                    font-weight: 300;
                }
            }
        }
    }
    &__bannerTitleContainer {
        width:100vw;
        &__bannerTitle {
            align-items: left;
            width: fit-content;
            padding:1em 4em;
            h1 {
                z-index: 0;
                font-family: "Antiokhia", cursive;
                font-size:4rem;
                text-align: center;
                color:#4AB3CA;
            }
        }
        &__Slides {
            &__Carousal {
                &__Direction {
                    float:left;
                    padding-top:4.5em;
                }
                &__Teams {
                    float:left;
                    padding-top:2.5em;
                    padding-inline:1.5em;
                    &__Name {
                        z-index:0;
                        font-family:'Roboto Slab', serif;
                        font-size:1.5rem;
                        text-align: center;
                        color: #4AB3CA;
                    }
                }

                &__Banner {
                    width:480px;
                    margin:auto;
                    &__diamond {
                        float:left;
                        padding-top: 1em;
                        width:4rem;
                    }
                    &__TeamTitle {
                        float:left;
                        z-index:0;
                        font-family:"Antiokhia", cursive;
                        font-size:4rem;
                        text-align:center;
                        color:#4AB3CA;
                    }
                }
            }
        }
    }
}