.header {
    &__header {
        width: 100vw;
        position: fixed;
        z-index:1000;
        &__content {
            margin-inline: auto;
            padding-inline: 1.5em;
            max-width: 82rem;
            display: flex;
            flex-direction: column;
        }
        &__chainContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline:2vw;
            img {
                height: 30px;
            }
        }
        &__main {
            position: relative;
            bottom:6px; //sketchy af :(
            background: #593D35;
            padding:1em 4em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                transform: scale(0.7)
            }
            &__nav {
                display: flex;
                color:white;
                font-family: "Antiokhia", cursive;
                font-size:1.5rem;
                p{
                    margin-left:50px;
                    line-height: 1.1px;
                    letter-spacing: 4px;
                    font-weight: 300;
                    cursor: pointer;
                } 
            }
        }
    }
    p > .active {
        background-color: rgb(32, 16, 16);
    }
}
  .hamburger {
    display: none;
  }
.hamburgerLine {
  width: 100%;
  height: 3px;
  background: #fff;
  margin-bottom: 0.3em;
  border-radius: 8px;
}
@media screen and (max-width: 1000px) {
  .homeScreen__header__main__nav {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 0.3em;
  }
}
.menu {
  width: 100vw;
  height: 50vh;
background: #593D35;
  padding-top: 2rem;
  z-index: 100;
}
.navigate:hover{
  text-decoration:none;
}
.menu_nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.menu_items {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0.3rem 0;
  font-weight: 900;
  font-size: 1.8rem;
  font-family: "Antiokhia", cursive;
}