.header{
&__header {
    width: 100vw;
    position: fixed;
    &__content {
        margin-inline: auto;
        padding-inline: 1.5em;
        max-width: 82rem;
        display: flex;
        flex-direction: column;
    }
    &__chainContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline:2vw;
        img {
            height: 30px;
        }
    }
    &__main {
        position: relative;
        bottom:6px; //sketchy af :(
        background: #593D35;
        padding:1em 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            transform: scale(0.7)
        }
        &__nav {
            display: flex;
            color:white;
            font-family: "Antiokhia", cursive;
            font-size:1.5rem;
            p{
                margin-left:50px;
                line-height: 1.1px;
                letter-spacing: 4px;
                font-weight: 300;
                cursor: pointer;
            }
        }
    }
}
}