@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family:"Antiokhia";
    src: url("../../assets/fonts/Antiokhia.otf");
}
body {
    overflow-x: hidden;
}
.homeScreen {
    width:100vw;
    height:100vh;
    background: url("../../assets/landing_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // overflow:hidden;
    overflow-x: hidden;
    &__header {
        width: 100vw;
        position: fixed;
        z-index: 1000;
        &__content {
            margin-inline: auto;
            padding-inline: 1.5em;
            max-width: 82rem;
            display: flex;
            flex-direction: column;
        }
        &__chainContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline:2vw;
            img {
                height: 30px;
            }
        }
        &__main {
            position: relative;
            bottom:6px; //sketchy af :(
            background: #593D35;
            padding:1em 4em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                transform: scale(0.7)
            }
            &__nav {
                display: flex;
                color:white;
                font-family: "Antiokhia", cursive;
                font-size:1.5rem;
                p{
                    margin-left:50px;
                    line-height: 1.1px;
                    letter-spacing: 4px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }
        }
    }
    &__bannerTitleContainer {
        width:100vw;
        margin-top: 20vh;
        display: flex;
        justify-content: center;
        z-index: 1000;
        align-items: center;
        &__bannerTitle {
            z-index: 101;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-family: "Antiokhia", cursive;
                font-size:4rem;
                text-align: center;
                color:#225E80;
                &:last-child {
                    color:white;
                }
            }
        }
        .cloud {
            position: absolute;
            z-index:100;
            transform:scale(0.9);
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        @keyframes floating {
            0% { transform: translate(0,  0px); }
            50%  { transform: translate(0, 7px); }
            100%   { transform: translate(0, -0px); }   
        }
        //higher the number of cloud closer to the center

        .cloud_left_one {
            left:-350px;
            top:110px;
        }
        .cloud_left_two {
            left:-50px;
            top:50px;
        }
        .cloud_right_one {
            right:-50px;
            top:150px;
            // transform: scale(0.2);

        }
        .cloud_right_two {
            right:15px;
            top:200px;
        //    transform: scale(0.5);
        }
        .cloud_right_three {
            right:10px;
            top:30px;
            // transform:scale(1.3)
        }
        .play {
            display: flex;
            margin-top: 30vh;
            justify-self: end;
            width: 300px;
            cursor: pointer;
            outline: none;
            transition: 0.2s all;
        }
                @media screen and (max-width: 500px) {
            .play{
                margin-top: 50px;
            }
        }
        .play_btn_center:hover {
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        }
        .play_btn_center:active {
            transform: scale(0.7);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.34);
        }
    }
}
        @media screen and (max-width: 1000px) {
        .cloud {
            position: absolute;
            width: 300px !important;
            transform:scale(0.5);
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        } 
        }
