@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500&display=swap");

@font-face {
  font-family: "Antiokhia";
  src: url("../../assets/fonts/Antiokhia.otf");
}
.roadmapScreen {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/features/Feature_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  &__bannerTitleContainer {
    width: 100vw;
    padding-top: 20vh;
    &__bannerTitle {
      align-items: left;
      width: fit-content;
      padding: 1em 4em;
      h1 {
        z-index: 0;
        font-family: "Antiokhia", cursive;
        font-size: 4rem;
        text-align: center;
        color: #4ab3ca;
      }
    }
  }
  &__featuresOpt {
    // padding: 0 4em;
    display: flex;
    margin-top: 4rem;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.Timeline-wrapper-1, .jss1 {
  height: 500px !important;
  font-family: "Antiokhia", cursive;
}
@media screen and (max-width: 1000px) {
  .roadmapScreen {
    width: 100vw;
    height: 175vh;
    background: url("../../assets/features/Feature_Background.png");
    background-repeat: repeat-y;
    background-size: contain;
  }
  //     .Timeline-wrapper-1{
  //         transform: scale(0.3);
  // }
  .Timeline-container-2, .jss2 {
    display: flex;
    flex-direction: column;
  }
  .Timeline-wrapper-1, .jss1 {
  height: 1500px !important;
  font-family: "Antiokhia", cursive;
}
}
@media screen and (max-width: 500px) {
  .roadmapScreen {
    width: 100vw;
    height: 250vh;
    background: url("../../assets/features/Feature_Background.png");
    background-repeat: repeat-y;
    background-size: contain;
  }
  .Timeline-container-2, .jss2 {
    display: flex !important;
    flex-direction: column !important;
  }
  .Timeline-wrapper-1, .jss1 {
  height: 1500px !important;
  font-family: "Antiokhia", cursive;
}
}
