@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500&display=swap');

@font-face {
    font-family:"Antiokhia";
    src: url("../../assets/fonts/Antiokhia.otf");
}
.footerScreen {
    background: #000000;
    width:100vw;
    height:100vh;
    overflow: hidden;
    overflow-y: hidden;

    &__upperContainer {
        height: 34em;
        background: url("../../assets/footer/Footer_Background.png");
        background-repeat: no-repeat;
        background-size:cover;

        &__subscribeContainer {
          padding-left: 1em;
            .card {
                z-index: 12;
                float: left;
                background: white;
                border-radius: 12px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                height: 200px;
                overflow: hidden;
                padding: 20px;
                position: relative;
                width: 300px;
              }
              .title {
                font-size: 1.5em;
                height: 29px;
                margin-bottom: 0;
              }
              .text {
                color: #667;
                font-size: 1em;
                height: 38px;
                margin: 5px 0 0;
              }
              .line {
                left: 0;
                position: absolute;
                width: 290px;
              }
              .line path {
                fill: none;
                stroke: black;
                stroke-width: 2;
                stroke-dasharray: 300 1903;
              }
              .card.saving .line path {
                stroke-dashoffset: -472;
                stroke-dasharray: 153 1903;
                transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
              }
              .card.done .line path {
                stroke-dashoffset: -762;
                stroke-dasharray: 1095 1903;
                transition: stroke-dasharray 1500ms, stroke-dashoffset 1500ms;
              }
              .line2 {
                height: 52px;
                left: 150px;
                opacity: 0;
                position: absolute;
                stroke-dasharray: 6 48;
                stroke-dashoffset: -42;
                top: 158px;
                transform-origin: 50%;
                width: 50px;
              }
              .card.saving .line2 {
                animation: 4s 500ms Rotate forwards;
              }
              .card.done .line2 {
                animation: 500ms ScaleDown forwards;
              }
              .form {
                transform-origin: 0 50%;
                transition: transform 500ms, opacity 500ms;
              }
              .card.saving .form {
                transform: translateY(-16px) scale(.8);
              }
              .card.done .form {
                transform: translateY(-16px) scale(.8);
                opacity: 0;
              }
              .input {
                background: transparent;
                border: 0;
                box-sizing: border-box;
                font-size: 20px;
                height: 40px;
                margin-top: 20px;
                outline: none !important;
                position: relative;
                width: 300px;
              }
              @keyframes Rotate {
                0% { transform: rotate(0); opacity: 1; }
                25% { transform: rotate(360deg); opacity: 1; }
                50% { transform: rotate(720deg); opacity: 1; }
                75% { transform: rotate(1080deg); opacity: 1; stroke-dasharray: 6 48; stroke-dashoffset: -42;}
                100% { transform: rotate(1080deg); opacity: 1; stroke-dashoffset: 0; stroke-dasharray: 36 48;}
              }
              @keyframes ScaleDown {
                0% { transform: scale(1); }
                100% { transform: scale(0);}
              }

              &__contact {
                float: right;
                padding-right: 5em;
                &__socialIcons {
                  padding: 1em;
                  transform: scale(1.8);
                }
              }
        }

        &__characterContainer {
            float: left;
            transform: scale(0.75);
            display: block;
            position: relative;
            z-index:10;
            animation-name: horizontal_mov;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate-reverse;
        }

        @keyframes horizontal_mov {
            from { right:70px; }
            80%  { right:-400px; }
            100% { right:-350px; }   
        }
    }
    &__bottomContainer {
        &__cloud{
            padding-left: 5px;
            position: absolute;
            transform:scale(0.5);
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        &__companyInfo {
            position: fixed;
            z-index:1000;
            &__logo {
                position: fixed;
                z-index:1000;
            }
        }
    }

    @keyframes floating {
        0% { transform: translate(0,  -105px); }
        50%  { transform: translate(0, -115px); }
        100%   { transform: translate(0, -105px); }   
    }
}